@utility focus-ring {
  outline: 0.14em solid var(--focus-ring-color, currentColor);
  outline-offset: 0.125em;
}

@utility focus-ring-blue-800 {
  --focus-ring-color: var(--color-blue-800);
}

@utility focus-ring-orange-400 {
  --focus-ring-color: var(--color-orange-400);
}
